{#
/**
 * @file
 * Default theme implementation for copyright message.
 *
 * Available variables:
 *     - copyright_name
 *
 * @ingroup themeable
 */
#}

<span class="copyright">Copyright &copy; {{ copyright_name }} {{ 'now'|date('Y') }}, All Rights Reserved.</span>